#Author:		Alex Nolan
#Date:			7/20/2018
#Description:	XML configuration file for NUnit project

#This file is used to set up an NUnit firmware testing project. The settings
#entered here are parsed in NUnitConfig, and are used to configure the Eval 
#board connection and .zip output file generation (using the CompileOutputFile test)
#If all settings are not entered, the project will not configure properly

#The eval board type (Blackfin or FX3)
<EvalBoardType>FX3</EvalBoardType>

#The path to the eval board boot image
<LoaderImagePath>Resources/FX3_Firmware.img</LoaderImagePath>

#Desired SPI clock frequency
<SclkFrequency>2000000</SclkFrequency>

#Desired SPI stall time, in microseconds
<StallTime>20</StallTime>

#Enter registers to be excluded from the set of base register tests below

